@import "tailwindcss";

@theme {
  --color-background: #f4f4f5;
  --color-text: #27272a;
  --color-primary: #d2161d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}
